NODE_ENV="development"
PORT=5000

# MongoDB Atlas Connection
MONGO_URI="mongodb+srv://Shan_Shop_1:Shan_FastFood_1@shop1.igsyhcz.mongodb.net/?appName=Shop1"

# JWT Secret
JWT_SECRET="shan_biryani_super_secret_key_2024_production"
JWT_EXPIRE="7d"

# Admin Default Credentials (for seeding)
ADMIN_EMAIL="admin@shanbiryani.com"
ADMIN_PASSWORD="admin123456"